@tailwind base;
@tailwind components;
@tailwind utilities;

.companyName{
    color: black;
    font-weight: 500;
    font-size: 18px;
}
/* NavBar Components */
.buttons{
margin-right: -11.5px;
color: black;
font-weight: 500;
width: 100px;
height:50px;
border-radius: 5px;
background-color: transparent;
}
.buttons:hover{
background-color: white;
color:orange;
}
/* Initial transparent background */
.bg-transparent {
    background-color: transparent;
  }
  
  /* Background when scrolled */
  .bg-orange-500 {
    background-color: #ff9900; /* Change this color to your desired orange */
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  }
/* End of NavBar Components */
/* upperbody Components */
.body{
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
}
.box1{
    display: grid;
    padding-top: 200px;
    flex-direction: row;
    padding-bottom: 20px;
    height: 100%;
}
.row{
    padding-left:20px;
    height: auto;
}

.box{
flex: 1;
}
.circle{
    margin-top: -80px;
    position: relative;
    border-radius: 50% 0 40% 50%;
    height:705px;
    width:625px;
    overflow: hidden;
    padding-top: 100px;
    background-color: orange;
}
.circle .marlou{
    height: auto;
    width: 400px;
    margin-top: 160px;
    margin-left: 100px;
}
.firstCut{
    display: grid;
    grid-template-columns: auto auto auto;
    padding:10px;
    margin-top: 80px;
}
.firstCutbox{
    display: flex;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    height: 90px;
}
.firstCutcircle{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    flex-shrink: 0;
}
.firstCuttext{
    display: block;
    flex-grow: 1;
}
.secondCut{
    height: 150vh;
    display: flex;
}
.secondCutbox{
display: flex;
width: auto;
height: 100%;
flex: 1;
align-items: center;
}
.pulse{
    display: inline-flex;
    align-items: center;
}
.pulseIcon{
height: 60px;
width: 60px;
border-radius: 50%;
background-color: rgb(0, 81, 255);
justify-content: center;
align-items: center;
display: flex; 
animation: pulse 2s infinite;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
transform: scale(1);
}
@keyframes pulse{
    0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgb(0, 81, 255, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgb(0, 81, 255, 0);
	}
	100% {
		transform: scale(0.9);
        box-shadow: 0 0 0 0 rgb(0, 81, 255, 0);
	}
}
.pulseImage{
    height: auto;
    width: 25px;
}
.secondCutContainer{
    width: auto;
    height: 100%;
    display: flex;
}
.secontCutItem{
width: auto;
height: 100%;
flex: 1;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 10px solid transparent;
}
.secontCutItemRow{
    position: relative;
    height:100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius: 10px;
}