@tailwind base;
@tailwind components;
@tailwind utilities;

.companyName{
    color: black;
    font-weight: 500;
    font-size: 18px;
}
/* NavBar Components */
.buttons{
margin-right: -11.5px;
color: black;
font-weight: 500;
width: 100px;
height:50px;
border-radius: 5px;
background-color: transparent;
}
.buttons:hover{
background-color: white;
color:orange;
}
/* Initial transparent background */
.bg-transparent {
    background-color: transparent;
  }
  
  /* Background when scrolled */
  .bg-orange-500 {
    background-color: #ff9900; /* Change this color to your desired orange */
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  }
/* End of NavBar Components */
/* upperbody Components */
.body{
    display: inline-block;
    width: 100%;
}
.box1{
    display: grid;
    width: 50%;
    padding-top: 200px;
    flex-direction: row;
    padding-bottom: 20px;
}
.row{
    padding-left:20px;
    height: auto;
}

.box2{
width: 50%;
overflow: hidden;
}
.circle{
    margin-top: -88px;
    position: relative;
    border-radius: 590px 0px 300px 600px;
    height:705px;
    width:625px;
    float: right;
    overflow: hidden;
    padding-top: 100px;
    background-color: orange;
}
.circle .marlou{
    height: auto;
    width: 400px;
    margin-top: 160px;
    margin-left: 100px;
}
.firstCut{
    display: grid;
    grid-template-columns: auto auto auto;
    padding:10px;
}
.firstCutbox{
    display: flex;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.firstCutcircle{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    text-align: center;
    margin-right: 10px;
    flex-shrink: 0;
}
.firstCuttext{
    display: block;
    flex-grow: 1;
}
.secondCut{
    height: 100%;
    display: flex;
}
.secondCutbox{
width: auto;
height: 100%;
padding: 15px;
flex: 1;
}
.secondCutContainer{
    width: auto;
    height: 100%;
    display: flex;
}
.secontCutItem{
width: auto;
height: 100%;
flex: 1;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 15px solid transparent;
}
.secontCutItemRow{
    position: relative;
    height:100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    border-radius: 10px;
}